__pycache__/
*.pyc
models/parsed/
models/TExpr/
noc_distance_tables/
*.pdf
*.png
*.log
test_logs/
**/**/.#*
*~
hw_config/
op_log.txt
results*
*.nfs00000000*
external/3d-ice-src/
external/3d-ice.tar.gz
external/hotspot-7.0/
external/hotspot-v7.0.tar.gz
venv/
web_profiler/runtime/
!web_profiler/webui.png
